label {
    color: rgba(0,0,0,.54);
    font-size: 12px;
}

.hide {
    display:none;
}

.ql-disabled {
    border-top: 1px solid #ccc !important;
}

.ql-toolbar, .ql-container {
    border: 0px solid black !important;
    color: rgba(0,0,0,.42);
}

.ql-container-editing {
    border-bottom: 1px solid rgba(0,0,0,.42) !important;
    color: black !important;
}

.ql-underline-locked {
    width: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 0);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    height: 1px;
}

.div-toolbar {
    background-color: #E8EAF6;
}