mat-select {
  
}


mat-icon
{
  color:white;
}

.buttons {
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.card {
  border-radius: 2px;
  box-shadow: 0 0.5px 1.5px rgba(0,0,0,0.06), 0 0.5px 1px rgba(0,0,0,0.12);
  margin:2%;
  padding:5%;
  background-color:white;
}