
<div [hidden]="loading" id="login-card">
  <mat-card>
    <form class="pure-g">

      <div class="pure-u-1">
        <mat-form-field>
          <input placeholder="Login" matInput id="id_login" required [(ngModel)]="login" type="text" name="login" />
        </mat-form-field>
      </div>

      <div class="pure-u-1">
        <mat-form-field>
         <input placeholder="Password" matInput id="id_password" required [(ngModel)]="password" type="password" name="password" />
        </mat-form-field>
      </div>

      <div class="pure-u-1">
        <button id="id_button_sign_in" mat-button type="submit" (click)="connect()">Sign in</button>
      </div>

    </form>
  </mat-card>
</div>

<div [hidden]="!loading" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
