


<div id="consumed-container">
    <div *ngIf="displayMode === 'hours'" class="consumed">Project {{load.project.name}} consumption : {{load.project.consumed}} / {{load.project.provisioned_hours}}</div>
    <div *ngIf="displayMode === 'days'" class="consumed">Project {{load.project.name}} consumption : {{load.project.consumedDays}} / {{load.project.provisionedDays}}</div>
    <button class="delete-line-button" (click)="delete()" md-icon-button type="button">
        <md-icon class="delete-icon">delete</md-icon>
    </button>
</div>
<div class="div-container-calendar pure-u-1">
    <table class="table-calendar">
        <tr>
            <th>Month</th>
            <th [ngClass]="{'month-separator': (dayHeader.dayNumber == 1)}" *ngFor="let dayHeader of daysHeaders">{{getMonth(dayHeader.timestamp)}}</th>
            
        </tr>
        <tr>
            <th>Actor </th>
            <th [ngClass]="{'month-separator': (dayHeader.dayNumber == 1)}" *ngFor="let dayHeader of daysHeaders">
                <div>{{dayHeader.dayNumber}}</div>
                <div *ngIf="dayHeader.dayLabel !='S'">{{dayHeader.dayLabel}}</div>
                <div *ngIf="dayHeader.dayLabel =='S'"><u>{{dayHeader.dayLabel}}</u></div>
            </th>
        </tr>
        
        <tr *ngFor="let userLoad of loadPerUser">
            <td  *ngIf="userLoad.length > 0">{{userLoad[0].affected_to.name}}</td>
            <td [ngClass]="{'month-separator': (dayHeader.dayNumber == 1)}"*ngFor="let dayHeader of daysHeaders">
                <div>{{getLoad(userLoad, dayHeader.timestamp)}}</div>
            </td>
        </tr>
    </table>
</div>

