<mat-card >
    
    <mat-slide-toggle [(ngModel)]="task.completed" (ngModelChange)="updateField('completed', task.completed)">Completed</mat-slide-toggle>
    
    <button id="button-previous" (click)="doPrevious()" mat-icon-button>
        <mat-icon >keyboard_backspace</mat-icon>
    </button>

    <button id="button-edit" [hidden]="!locked" (click)="doUnlock()" mat-icon-button>
        <mat-icon >mode_edit</mat-icon>
    </button>

    <button id="button-save" [hidden]="locked" (click)="doSave()" mat-icon-button>
        <mat-icon >save</mat-icon>
    </button>

    <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxLayoutGap="2%"> 
        <div fxFlex="69" class="div-edit-zone">
            <div fxLayout="column" fxLayoutAlign="center center" xLayoutGap="10">
                
                <mat-form-field>
                    <input [disabled]="locked" matInput placeholder="Title" maxlength="45" [(ngModel)]="task.title"/>
                </mat-form-field>

                <hc-quill-editor [(ngModel)]="task.description" [readOnly]="locked" [title]="'Description'" ></hc-quill-editor>
            </div>
        </div>
        <div fxFlex="29" class="div-commands-zone">
            <hc-entity-affectation
                #affectedUsersComponent
                primaryKey="email"
                placeholder="Select a user to affect"
                title="Affected users"
                [locked]="locked"
                [savedAffectedEntities]="affectedUsers"
                [availableEntities]="availableUsers" >
            </hc-entity-affectation>

            
            <hc-entity-affectation
                id="tag-affectations"
                #affectedTagsComponent
                placeholder="Select a tag"
                primaryKey="id"
                title="Tags"
                labelKey="name"
                colorField="color"
                [locked]="locked"
                [savedAffectedEntities]="affectedTags"
                [availableEntities]="availableTags" >


                <!-- [savedAffectedEntities]="affectedUsers" -->
            </hc-entity-affectation>


        </div>
        
    
    </div>

    
</mat-card>

<hc-task-comments [taskId]="task.id"></hc-task-comments>
