md-form-field {
    width: 100%;
}

.div-edit-zone, .div-commands-zone {
    background-color: #FAFAFA;
    padding: 2%;
}

.icon-delete-member {
    color: white;
    margin-right: 0px;
    margin-left:auto;
    cursor: pointer;
}

md-chip, .mat-chip:not(.mat-basic-chip) {
    margin: 0 0 2.5px 8px;
}