mat-form-field, mat-select{
    width: 100%;
}

.div-edit-zone, .div-commands-zone {
    /* background-color:#E8EAF6; */
    padding: 2%;
}

.icon-delete-member {
    color: white;
    margin-right: 0px;
    margin-left:auto;
    cursor: pointer;
}

mat-chip, .mat-chip:not(.mat-basic-chip) {
    margin: 0 0 2.5px 8px;
}

mat-chip-list {
    top: 10px;
    position: relative;
}

#div-dialog-container {
    overflow-y: scroll;
}

.mat-dialog-content {
    height: 100%;
}

#textarea-description {
    min-height: 100px;
    max-height: 100px;
}

hc-quill-editor {
    width: 100%;
}


#button-previous, #button-edit, #button-save{
    position: absolute;
    top: 14px;
}

#button-previous {
    right: 70px;
}

#button-edit, #button-save {
    right: 25px;
}