
.table-calendar > tbody > tr > th
{
    width:200px;
}

.table-calendar
{
    width:100%;
}

.div-container-calendar
{
    width:100%;
    overflow-x: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

th, td
{
    padding:5px;
    text-align:center;
}

th
{
    background-color:#6200EA;
    color:white;
}

td
{
    background-color:#EDE7F6;
    color:black;
}
table
{
}

md-slide-toggle
{
    display:inline-block;
    float:right;
}

.consumed
{
    font-weight: bold;
    display:inline-block;
}
#consumed-container
{
    padding:10px;
}

.month-separator
{
    border-left: white solid 1px;
}

.delete-icon
{
    color:red;
}

.delete-line-button
{
    margin-top:-10px;
    display:inline-block;
    float: right;
}