


<div *ngIf="userInformations" fxLayoutGap="0%"  fxLayout.gt-xs="row wrap"  fxLayoutAlign="start start">
  
  <div fxFlex="33%">
    <button mat-icon-button id="button-previous" (click)="previous()">
      <mat-icon id="icon-previous">chevron_left</mat-icon>
    </button>
  </div>

  <div fxFlex="33%">
     <p id="calendar-day">{{getFormatedWeek()}} ({{hoursCount}} / {{minHoursPerWeek}})</p>
  </div>
  <!--  -->
  
  
  <div fxFlex="33%" >
    
    <button mat-icon-button id="button-next" (click)="next()">
      <mat-icon id="icon-next">chevron_right</mat-icon>
    </button>


    <button id="button-more" mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon id="icon-export">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="exportCra()" mat-menu-item>
          <mat-icon>file_download</mat-icon>
          <span>Export hours for this month</span>
        </button>

       
      </mat-menu>

      <mat-slide-toggle 
      matTooltip="Display / hide week-ends."
      [(ngModel)]="hideWeekend" 
      (ngModelChange)="onHideWeekChange($event)" 
      labelPosition="before" 
      id="slide-weeks">Week-end</mat-slide-toggle> 
    </div>
</div>

<div fxLayoutGap="1%"  fxLayout.lt-sm="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="start start" >
  <div  fxFlex.lt-sm="99%" [fxFlex.gt-xs]="sizePerDay"   *ngFor="let dayHours of dayHoursList | async ; let i = index; "  >
  
    <hours-calendar-day 
    #calendardayComponent 
    [hidden]="!hideWeekend && isWeekend(dayHours.day)"
    [userInformations]="userInformations" 
    [day]="dayHours.day" 
    (hoursCountChange)="computeHoursCounts($event.oldValue, $event.newValue)"
    [hours]="dayHours.hours"></hours-calendar-day>
  </div>
</div>

<div id="div-float-bar">
    <button matTooltip="Remove selected hour(s)." [matTooltipPosition]="'left'" id="button-delete-task" mat-mini-fab (click)="deleteSelectedTasks()" >
        <mat-icon class="icon-white">delete</mat-icon>
    </button>
</div>


