<form class="pure-g" [formGroup]="form" (ngSubmit)="submitForm(form.value)" >


  <div class="pure-u-1">
  
    <mat-form-field>
      <input matInput placeholder="Client" required [matAutocomplete]="autoClient" [formControl]="form.controls['client']">
    </mat-form-field>

    <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="getName">
      <mat-option *ngFor="let client of clients" [value]="client">
        {{ client.name }}
      </mat-option>
    </mat-autocomplete>

  </div>


  <div class="pure-u-1">
  
    <mat-form-field>
      <input matInput placeholder="Project" required [matAutocomplete]="autoProject" [formControl]="form.controls['project']">
    </mat-form-field>

    <mat-autocomplete  #autoProject="matAutocomplete" [displayWith]="getName">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </mat-option>
    </mat-autocomplete>

  </div>


  <div class="pure-u-1">
    <mat-form-field>
      <input matInput required [matAutocomplete]="autoHour" class="form-control" type="text" placeholder="Started at (HH:MM)" [formControl]="form.controls['started_at']">
    </mat-form-field>

    <mat-autocomplete  #autoHour="matAutocomplete">
      <mat-option *ngFor="let hour of filteredHours" [value]="hour">
        {{ hour }}
      </mat-option>
    </mat-autocomplete>

  </div>

  <div class="pure-u-1">
    <mat-form-field id="input-container-minutes">
      <input matInput required [matAutocomplete]="autoMinutes" class="form-control" type="number" placeholder="Spent (minutes)" [formControl]="form.controls['minutes']">
    </mat-form-field>

    <mat-autocomplete   #autoMinutes="matAutocomplete">
      <mat-option *ngFor="let shortcut of filteredShortCuts" [value]="shortcut.minutes">
        {{ shortcut.label }}
      </mat-option>
    </mat-autocomplete>

  </div>

  <div class="pure-u-1">
    <mat-form-field>
      <input matInput  type="text" class="form-control" placeholder="Issue" [formControl]="form.controls['issue']">
    </mat-form-field>
  </div>

  <div class="pure-u-1 button-container">
    <button type="reset" mat-icon-button (click)="cancel()" [hidden]="locked">
        <mat-icon id="icon-cancel">cancel</mat-icon>
    </button>
    
    <button class="button-right" mat-icon-button required [hidden]="!form.valid || locked">
        <mat-icon>save</mat-icon>
    </button>
  </div>
  <p></p>
</form>
