md-select
{
  margin-top:10px;
  width: 100%;
  margin-bottom: 10px;
}


md-icon
{
  color:white;
}

.buttons
{
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.card
{
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin:2%;
  padding:5%;
  background-color:white;
}