.filter, .sorting
{
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  margin-left:2%;
  margin-right:2%;
}
md-input-container
{
  width:98%;
  margin-top:4px;
  margin-left:1%;
  font-size:16px;
  margin-right:1%;
}
md-select
{
  text-align:left;
  width: 98%;
  margin-top: 20px;
  margin-left:1%;
  margin-right:1%;
}
md-chip
{
   margin-top: 10px !important;
}
.div-filters-add-remove, .div-sorting-add-remove
{
  margin-top:10px;
  text-align:center;
}
.button-new
{
  bottom: 5px;
  text-align:center;
}
md-icon-button 
{
  width:30px;
  height:30px;
}

#add-filter-button
{
  margin-top:5px;
}

#delete-icon
{
    color: #F44336;
}