
<h3>New member</h3>
<form fxLayout="column" fxLayoutGap="1%" fxFlexAlign="center center" [formGroup]="form" (ngSubmit)="submitForm(form.value)"> 
    
    <mat-form-field>
        <input required matInput placeholder="User" [matAutocomplete]="auto" [formControl]="form.controls['user']">
        <mat-autocomplete [displayWith]="getName" #auto="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user">{{user.name}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-select required placeholder="Role" [formControl]="form.controls['role']" >
            <mat-option *ngFor="let role of roles | async" [value]="role">{{role.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div id="div-buttons" >
        <button id="button-cancel" mat-icon-button (click)="doCancel()"[disabled]="locked" >
            <mat-icon id="icon-cancel" >cancel</mat-icon>
        </button>

        <button id="button-save" mat-icon-button [disabled]="!form.valid || locked" >
            <mat-icon>save</mat-icon>
        </button>
    </div>
    
</form>