.div-lists-container, .div-task-details-container {
    overflow: auto;
    padding-top: 30px;
}

.div-task-details-container {

  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

hc-task-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-new-container {
  text-align:center;
  border:#E0E0E0 dashed 1px;
  margin-bottom: 20px;
  height: 42px;
}

#slide-completed-tasks {
  margin: 5px;
  position: absolute;
  right: 5px;

}