<div class="user-item" 
    (click)="openUser()" 
    fxLayout="row wrap"
    fxFlexAlign="center center" 
    [ngStyle]="{'border-top': ('solid 4px ' + getUserColor(value['email']))}">
    
    <div class="user-item__state">
        <mat-icon class="user-item__state--active" *ngIf="value['active']">check_circle</mat-icon>
        <mat-icon class="user-item__state--disabled" *ngIf="!value['active']">remove_circle</mat-icon>
    </div>
    
    <mat-form-field fxFlex="100" >
        <input [disabled]="true" matInput placeholder="Email" value="{{value['email']}}">
    </mat-form-field>

    <mat-form-field fxFlex="100" >
      <input [disabled]="true" matInput placeholder="Name" value="{{value['name']}}">
    </mat-form-field>

   

</div>