.div-taskes-container {
    padding: 5px;
    background-color: #E0E0E0;
    border-radius: 2px;
}

.div-task-container {

    background-color: #fff;
    border-radius: 2px;
}

.div-add-card, .div-task-container {
    padding: 10px;
}

.div-add-card {
    font-size: 14px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #9E9E9E;
}

.div-add-card:hover {
    background-color: #EEEEEE;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}

.input-list-title {
    color: black;
    font-weight: bold;
    background-color: #E0E0E0;
    border: 0px solid black;
    padding: 5px;
    border-radius: 1px;
    outline:0;
}

.text-area-task-description {
    max-width: 100%;
    min-width: 100%;
}