<div class="div-taskes-container" fxLayout="column" fxLayoutGap="10px">
    <input 
    type="text" 
    [value]="taskList.title" 
    [(ngModel)]="taskList.title" 
    (focusout)="onTitleChange()"
    class="input-list-title"/>

    <div (click)="openDialog(task.value.id)" class="div-task-container" *ngFor="let task of tasksSumUp;let i = index">
        <hc-task-list-item  (onDeletedTask)="deleteTask($event.taskId)" [task]="task.value"></hc-task-list-item>
    </div>

    <div class="div-add-card" (click)="insertItem()">Add a card ...</div>
</div>
