<div fxLayout="column">

    

    <div fxFlex="100">
        <mat-card>
             <mat-card-header>
                <mat-card-title>My settings</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Reset my password</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <auth-reset-password-form (submit)="updatePassword($event)"></auth-reset-password-form>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>App parameters</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <hc-app-parameters-form *ngIf="appUser" [value]="appUser" (submit)="updateAppParameters($event.value)" ></hc-app-parameters-form>
                    </mat-card-content>
                </mat-card>

            </mat-card-content>
        </mat-card>
    </div>

   
    
</div>

