<mat-list>

    <h3 *ngIf="!new" matSubheader>Members
            <button mat-icon-button (click)="displayNewForm()">
                <mat-icon>add</mat-icon>
            </button>
    </h3>
    
    <hc-project-member-form [projectId]="projectId" *ngIf="new" (onCancel)="memberCanceled()" (onMemberCreated)="memberCreated()"></hc-project-member-form>

    <div id="div-members-container" *ngIf="!new">
        <mat-list-item *ngFor="let assignement of assignements">

            <h4 matLine>{{assignement.user.name}}</h4>
            <p matLine>{{assignement.role.name}}</p>

            <button (click)="deleteMember(assignement.id)" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>

        </mat-list-item>
    </div>
</mat-list>