
#div-project-form-container, #div-project-members-container, #div-project-indicators-container, #div-project-files-container
{
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    margin-top:10px;
}

#div-project-details-container {
    margin: 10px;
}

#div-float-bar
{
    bottom: 0;
    padding: 23px 12px;
    position: fixed;
    right: 15px;
    z-index: 21;
    text-align:center;
}

.td-float-button
{
    padding:5px;
}

#button-delete-task, #button-add-task, #button-uncomplete-task {
    background-color:  #F44336;
    color: white;
}

.icon-white {
    color:white;
}

