<md-tab-group>
    <md-tab label="Project details.">
        <div id="div-project-details-container" fxLayout="column" fxLayoutGap="1%" >

            <div fxLayout="row" fxLayoutGap="1%" fxFlexAlign="center center">
                <div fxFlex="33" id="div-project-form-container">
                    <hc-project-form></hc-project-form>
                </div>

                <div fxFlex="33" id="div-project-members-container">
                    <hc-project-members></hc-project-members>
                </div>

                <div fxFlex="33" id="div-project-files-container">
                    <!-- <hc-file-links></hc-file-links> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutWrap >
                <div fxFlex="100" id="div-project-indicators-container">
                    <p>Indicators</p>
                </div>

                
            </div>

        </div>
    </md-tab>
    <md-tab label="Planning">Content 2</md-tab>
</md-tab-group>