<div *ngIf="!project" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="40" id="div-project-form-container">
        <h3>New project</h3>
        <hc-project-form (onProjectCreated)="projectCreated($event.project)"></hc-project-form>
    </div>

</div>

<md-tab-group *ngIf="project">
    <md-tab label="Project details.">
        <div id="div-project-details-container" fxLayout="column" fxLayoutGap="1%" >

            <div fxLayout="row" fxLayoutGap="1%" fxFlexAlign="center center">
                <div fxFlex="33" id="div-project-form-container">
                    <hc-project-form [value]="project" (onProjectEdited)="projectCreated($event.project)"></hc-project-form>
                </div>

                <div fxFlex="33" id="div-project-members-container" >
                    <hc-project-members [projectId]="project.id" ></hc-project-members>
                </div>

                <div fxFlex="33" id="div-project-files-container">
                    <!-- <hc-file-links></hc-file-links> -->
                </div>
            </div>

            <div fxLayout="row" fxLayoutWrap >
                <div fxFlex="100" id="div-project-indicators-container">
                    <p>Indicators</p>
                </div>
            </div>

        </div>
    </md-tab>
    <md-tab label="Planning"></md-tab>
</md-tab-group>