

<div *ngIf="!project && loaded" fxLayout="row" fxLayoutAlign="center center">
    

    <div fxFlex.lt-sm="99" fxFlex.md="40" fxFlex.lg="30" id="div-project-form-container">
        
        
        <div>
            <h3>New project</h3>
        </div>
        <hc-project-form (onProjectCreated)="projectCreated($event.project)"></hc-project-form>
    </div>

</div>

<md-tab-group [selectedIndex]="0" *ngIf="project" (selectChange)="changeTab($event.index)">
    

    <md-tab label="Project details.">
        
        <div id="div-project-details-container" fxLayout="column"  fxFlexAlign="left center">

            <div fxLayoutWrap fxLayout="row"  fxFlexAlign="left center">
                
                <div fxFlex.lt-sm="99" fxFlex.md="24" fxFlex.lg="25" id="div-project-form-container">
                    
                    <hc-project-form [value]="project" (onProjectEdited)="projectCreated($event.project)"></hc-project-form>
                </div>

                <div fxFlex.lt-sm="99" fxFlex.md="36" fxFlex.lg="21" id="div-project-members-container" >
                    <hc-project-members [projectId]="project.id" ></hc-project-members>
                </div>

                <div fxFlex.lt-sm="99" fxFlex.md="36" fxFlex.lg="21" id="div-project-files-container">
                    <hc-project-files [projectId]="project.id"></hc-project-files>
                </div>

                <div fxFlex.lt-sm="99" fxFlex.md="61" fxFlex.lg="30"  id="div-project-indicators-container">
                    <hc-project-indicators [projectId]="project.id"></hc-project-indicators>
                </div>
                
                <div fxFlex="99" id="div-project-load-container">
                    <hc-project-load></hc-project-load>
                </div>
                

            </div>

        </div>
    </md-tab>
    <md-tab label="Tasks" *ngIf="project" >
        <hc-task-menu [projectId]="project.id" ></hc-task-menu>
    </md-tab>
</md-tab-group>

<div id="div-float-bar" [hidden]="tabIndex != 1">
    <!-- <table>
    
        <tr >
            <td class="td-float-button">
                <button mdTooltip="Remove selected task(s)" [mdTooltipPosition]="'left'" id="button-delete-task" md-mini-fab (click)="planning.deleteSelectedTasks()" >
                    <md-icon class="icon-white">delete</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="td-float-button">
                <button mdTooltip="Add a task." [mdTooltipPosition]="'left'" id="button-add-task" md-fab (click)="planning.addEmptyTask()">
                    <md-icon class="icon-white" >add</md-icon>
                </button>
            </td>
        </tr>
    </table> -->
</div>