

.div-new-container
{
  margin:2%;
  padding:5%;
  text-align:center;
  border:#E0E0E0 dashed 1px;
}

.button-right
{
  float: right;
}

#icon-delete
{
  color: #F44336;
}

.collection-card
{
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin:2%;
  background-color:white;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.selected-card
{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item-header
{
    width: 100%;
    height: 5px;
}

.item-content
{
  padding:5%;
}