

<div class="pure-g">
  <div class="pure-u-1 pure-u-xl-1-6 pure-u-lg-1-4 pure-u-md-1-2" *ngFor="let item of items;">
    <div class="collection-card" [ngClass]="{'selected-card': (item.status == 'editing')}">
      <div class="item-header" [hidden]="item.isLoading" [ngStyle]="{'background-color': getProjectColor(item)}" ></div>
      <div class="item-header">
        <md-progress-bar [hidden]="!item.isLoading" mode="indeterminate"></md-progress-bar>
      </div>
      <div class="item-content" *ngIf="item.status == 'saved'">
        <p *ngIf="item.object.project"><b>Client</b> : {{item.object.project.client.name}}</p>
        <p *ngIf="item.object.project"><b>Project</b> : {{item.object.project.name}}</p>
        <p><b>Time</b> : {{getFormatedDuration(item.object.started_at, item.object.minutes)}}


        <div>
   
          <button md-icon-button (click)="onDelete(item.uuid)">
              <md-icon id="icon-delete">delete</md-icon>
          </button>
          <button class="button-right" md-icon-button (click)="onEdit(item.uuid)" >
              <md-icon>mode_edit</md-icon>
          </button>

        </div>
      </div>
      
      <div class="item-content" *ngIf="item.status == 'editing' || item.status == 'new'">
        <hour-edit-form
          [uuid]="item.uuid"
          [hour]="item.object"
          [status]="item.status"
          (updated)="onItemEdited($event)"
          (saved)="onItemSaved($event)"
          (canceled)="onItemCanceled($event)"
        ></hour-edit-form>
      </div> 
    </div>
  </div>
 
  <div class="pure-u-1 pure-u-xl-1-6 pure-u-lg-1-4 pure-u-md-1-2">
    <div class="div-new-container">
      <button md-icon-button (click)="new()">
        <md-icon>add</md-icon>
      </button>

    </div>
  </div>
</div>
