.td-day {
    min-width:50px;
}

.td-day:hover {
    background-color:#BBDEFB;
}

td {
    text-align: center;
    border: 1px solid #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
}

#input-task-title {
    width: 150px;
}

mat-select {
    margin-bottom: 20px;
}

.td-booked {
    background-color:#2196F3;
}

.td-weekend-day {
    background-color: #F5F5F5;    
    border: solid 1px #F5F5F5;
    
}