<td>
    <mat-checkbox #selectBox (change)="selected.emit(selectBox.checked)"></mat-checkbox>
</td>
<td class="td-task-name" >
    <mat-form-field>
        <input #title id="input-task-title" [(ngModel)]="task.title"
        (blur)="titleUpdated(title.value)" matInput [value]="task.title">
    </mat-form-field>
</td>
<td class="td-user-name" >
    <mat-select #select (change)="userUpdated(select.selected)" [(ngModel)]="task.user.id" >
        <mat-option *ngFor="let user of availableUsers" [value]="user.id">
            {{ user.name }}
        </mat-option>
    </mat-select>
</td>
<td [ngClass]="{'td-weekend-day': isWeekend(i) }" [ngStyle]="{'background-color': getColor(i)}" class="td-day" *ngFor="let taskDay of taskDays; let i = index" (click)="switchTaskDay(i)"></td>