common-simple-filters {
    margin-top:20px;
}

#div-more-container {
    width: 100px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
