.div-lists-container, .div-task-details-container {
    overflow: auto;
}

.div-task-details-container {

  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  width: 100%;
}

hc-task-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-new-container {
  text-align:center;
  border:#E0E0E0 dashed 1px;
  margin-bottom: 20px;
  height: 42px;
}

.slide-completed-tasks-container-gt-xs {
  padding-top: 21px;
}

.slide-completed-tasks-container {
  height: 30px;
}

#slide-completed-tasks {
  position: absolute;
  right: 10px;
}

