

#button-next, #button-previous
{
  width:48px;
  height:48px;
}

#button-next
{
  float:right;
}

#icon-previous, #icon-next
{
  position:relative;
  left:-10px;
  font-size:48px;
}

#calendar-day
{
  text-align:center;
  font-weight: bold;
}

#button-more
{
  position:relative;
  top: 4px;
  float:right;
}