<div class="pure-g">
  
  <div  class="pure-u-1-3">
    <button md-icon-button id="button-previous" (click)="previous()">
      <md-icon id="icon-previous">chevron_left</md-icon>
    </button>
  </div>

  
  <div class="pure-u-1-3">
      <p id="calendar-day">{{getFormatedCurrentDate()}}</p>
  </div>

  
  <div class="pure-u-1-3" >
    
    <!--<button md-raised-button id="button-next" (click)="next()"> Next </button>-->
    <button md-icon-button id="button-next" (click)="next()">
      <md-icon id="icon-next">chevron_right</md-icon>
    </button>

    <button id="button-more" md-icon-button [mdMenuTriggerFor]="menu" >
      <md-icon id="icon-export">more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button (click)="exportCra()" md-menu-item>
        <md-icon>file_download</md-icon>
        <span>Export hours for this month</span>
      </button>
    </md-menu>
  </div>
</div>

<collection [filters]="generateFilters()" [currentDate]="currentDate"></collection>
