

<div id="div-filters-container" fxLayout="row wrap" fxLayoutGap.gt-sm="20px" fxFlexAlign="center center">
    
    <div fxFlex.lt-sm="85" fxFlex.gt-sm="200px" *ngFor="let filter of filters;">
        <mat-form-field >
            <input matInput [placeholder]="format(filter)" [(ngModel)]="variables[filter]" (ngModelChange)="onFilterChange()">
        </mat-form-field>
    </div>
    <div id="div-search-icon-container" fxFlex.lt-md="15" fxFlex.gt-sm="20px">
        <mat-icon>search</mat-icon>
    </div>
</div>