<div id="div-project-container" (dblclick)="openProject()" fxLayout="row" fxLayoutWrap fxFlexAlign="center center">
<!--     
    <button (dbclick)="openProject()" md-icon-button class="button-edit">
        <md-icon class="icon-edit"  >edit</md-icon>
    </button>
     -->
    <md-form-field fxFlex="100" >
        <input [disabled]="true" mdInput placeholder="Client" value="{{value.client.name}}">
    </md-form-field>

    <md-form-field fxFlex="100" >
        <input [disabled]="true" mdInput placeholder="Name" value="{{value.name}}">
    </md-form-field>

    <md-form-field *ngIf="value.code" fxFlex="100" >
        <input [disabled]="true" mdInput placeholder="Code" value="{{value.code}}">
    </md-form-field>

    
</div>