

.table-wrapper
{
    width:80%;
    overflow-x:scroll;
    margin-left: 20%;
}

#planning-table
{
    width:100%;
    table-layout:fixed;
}

.cell
{
    border: 1px solid black;
    width:50px;
    text-align:center;
    
}

.header
{
    border: 1px solid black;
    width:50px;
    text-align:center;
    
}

.header-month
{
    width:50px;
    
}

.fix-user
{
    position: absolute;
    margin-left: -20%;
    width: 10%;
}

.fix-task
{
    position: absolute;
    margin-left: -10%;
    width: 10%;
}

.fix-month
{
    position: absolute;
    margin-left: -20%;
    width: 20%;
}

.fix-task, .fix-user, .header-month, .fix-month
{
    border: 1px solid black;
    text-align:center;
}