<div class="div-taskes-container" fxLayout="column" fxLayoutGap="10px">

  
    <input 
    maxlength="45"
    type="text" 
    [value]="taskList.title" 
    [(ngModel)]="taskList.title" 
    (focusout)="onTitleChange()"
    class="input-list-title"/>

    <button (click)="$event.stopPropagation()" class="button-more" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon-more">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

        <div mat-menu-item>
             <mat-slide-toggle 
             (ngModelChange)="completeTaskList($event)" 
             [(ngModel)]="taskList.completed" >Completed</mat-slide-toggle>
        </div>
        
            
        <button mat-menu-item (click)="onDelete.emit({'taskList': taskList})">
            <mat-icon id="icon-delete">delete</mat-icon>
            <span id="span-delete">Delete</span>
        </button>

    </mat-menu>
    <mat-spinner [diameter]="30" [strokeWidth]="3" [hidden]="!loading"></mat-spinner>
    <div [hidden]="loading" (click)="openTask(task.value.id)" class="div-task-container" *ngFor="let task of tasksSumUp;let i = index">
        <hc-task-list-item class="clickable" (onDeletedTask)="deleteTask($event.taskId)" [task]="task.value"></hc-task-list-item>
    </div>

    <div [hidden]="loading" class="div-add-card" (click)="insertItem()">Add a card ...</div>

    
  

</div>
