<div class="main-menu-container">
  <button mat-icon-button *ngIf="userInformations != null" class="main-menu-slider-button" (click)="toggle();" >
    <mat-icon id="menu-icon">menu</mat-icon>
  </button>
  <div class="main-menu-login" >
    
    <div *ngIf="!userInformations" id="disconnected-container">
      You are not connected
    </div>

    <table *ngIf="userInformations" id="connected-container">
      <tr>
        <td>
          <div id="div-user-text">{{userInformations.appUser.name}}</div>
        </td>
        
        <td >
            <button (click)="doOpenNotification()" id="button-task-left" mat-icon-button>
                <mat-icon id="list-icon">assignment</mat-icon>
            </button>
        </td>
        
        <td>
          <button class="button-settings" mat-icon-button (click)="settings();">
              <mat-icon id="settings-icon">settings</mat-icon>
          </button>
        </td>

        <td>
          <button mat-icon-button class="button-logout" (click)="logout();" >
            <mat-icon id="logout-icon">cancel</mat-icon>
          </button>
        </td>
      </tr>
    </table>

  </div>
 


</div>

<div class="main-menu-slider" [ngClass]="{'main-menu-slider-open' : isOpen}">
  <ul *ngFor="let link of config.links;">
    <li>
      <a routerLink="{{link.url}}" routerLinkActive="active" (click)="route()">{{link.label}}</a>
    </li>
  </ul>
</div>
