<div fxLayout="column">

    

    <div fxFlex="100">
        <md-card>
             <md-card-header>
                <md-card-title>My settings</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-card>
                    <md-card-header>
                        <md-card-title>Reset my password</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <auth-reset-password-form (submitted)="updatePassword($event)"></auth-reset-password-form>
                    </md-card-content>
                </md-card>

                <md-card>
                    <md-card-header>
                        <md-card-title>App parameters</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <hc-app-parameters-form *ngIf="appUser" [value]="appUser" (onSubmit)="updateAppParameters($event.value)" ></hc-app-parameters-form>
                    </md-card-content>
                </md-card>

            </md-card-content>
        </md-card>
    </div>

   
    
</div>

