<div class="pure-g">

    

    <div class="pure-u-1">
        <md-card>
             <md-card-header>
                <md-card-title>My settings</md-card-title>
            </md-card-header>
            <md-card-content>
                <md-card>
                    <md-card-header>
                        <md-card-title>Reset my password</md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <auth-reset-password-form (submitted)="updatePassword($event)"></auth-reset-password-form>
                    </md-card-content>
                </md-card>
            </md-card-content>
        </md-card>
        
    </div>
    
</div>

