


.div-container {

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color:white;
}


#div-planning-controls
{
    background-color: white;
    height: 87px;
}
#div-planning-controls > div
{
    margin-top: 10px;
}

.l-box {
    padding: 10px;
}
.div-container
{
    min-height:500px;
    overflow-x: scroll;
    overflow-y: auto;
    border: 1px solid #EEEEEE;
}

table {
    width: 100%;
}

.th-current-day
{
    color: #EF5350;
}


th {
    background-color:#3F51B5;
    padding: 10px;
    color:white;
}



#button-next-week
{
    float:right;
}

#icon-previous, #icon-next
{
  position:relative;
  left:-10px;
  font-size:48px;
}

#input-date-container {
    width: 100%;
}



#button-complete-task {
    color:white;
    background-color: #43A047
}

.icon-white {
    color:white;
}