.p-task-title {
    font-size: 14px;
}

.div-tile {
    position: relative;
}

.button-more {
    position: absolute;
    left: 220px;
    top: -30px;
}

mat-icon {
    font-size: 18px;
}

.icon-more {
    color: #9E9E9E;
}

mat-menu {
    font-size: 12px;
}

#icon-affected-users, #td-affected-user-count, #icon-comments, #td-comments-count {
    color: #9E9E9E;
}

#td-affected-user-count, #td-comments-count {
    font-size: 14px;
}

#icon-comments {
    font-size: 16px;
    top: 2px;
    position: relative;
}

#icon-affected-users {
    margin-top: 5px;
}

#icon-comments {
    margin-top: 5px;
}



#icon-completed {
    color: #00C853;
    position: relative;
    top: 3px;
}

.tag-chip {
    color: white;
    padding: 4px !important;
    font-size: 10px;
}