<div  class="div-tile" >
    <button (click)="$event.stopPropagation()" class="button-more" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon-more">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>

    <p>{{task.title}}</p>
    <table>
        <tr >
            <td *ngIf="task.affected_users > 0" id="td-affected-user-count" >{{task.affected_users}}</td>

            <td *ngIf="task.affected_users > 0">
                <mat-icon id="icon-affected-users" >people</mat-icon>
            </td>

            <td *ngIf="task.has_description">
                <mat-icon id="icon-affected-users" >clear_all</mat-icon>
            </td>

            <td *ngIf="task.completed" id="td-completed">
                <mat-icon id="icon-completed" >check_circle</mat-icon>
            </td>
        </tr>
    </table>
</div>


