<div  class="div-tile" >
    <button (click)="$event.stopPropagation()" class="button-more" md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon class="icon-more">more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="deleteTask(task.id)">
            <md-icon>delete</md-icon>
            <span>Delete</span>
        </button>
    </md-menu>

    <p>{{task.title}}</p>
    <table>
        <tr >
            <td *ngIf="task.affected_users > 0" id="td-affected-user-count" >{{task.affected_users}}</td>

            <td *ngIf="task.affected_users > 0">
                <md-icon id="icon-affected-users" >people</md-icon>
            </td>

            <td *ngIf="task.has_description">
                <md-icon id="icon-affected-users" >clear_all</md-icon>
            </td>

            <td *ngIf="task.completed" id="td-completed">
                <md-icon id="icon-completed" >check_circle</md-icon>
            </td>
        </tr>
    </table>
</div>


