.p-task-title {
    font-size: 14px;
}

.div-tile {
    position: relative;
}

.button-more {
    position: absolute;
    left: 220px;
    top: -30px;
}

md-icon {
    font-size: 18px;
}

.icon-more {
    color: #9E9E9E;
}

md-menu {
    font-size: 12px;
}

#icon-affected-users, #td-affected-user-count {
    color: #9E9E9E;
}

#td-affected-user-count {
    font-size: 14px;
}

#icon-affected-users {
    margin-top: 5px;
}
