<div id="div-float-bar" >
    <table>
    
        <tr >
            <td class="td-float-button">
                <button mdTooltip="Remove selection." [mdTooltipPosition]="'left'" id="button-delete-task" md-mini-fab (click)="onClickRemove.emit()" >
                    <md-icon class="icon-white">delete</md-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="td-float-button">
                <button mdTooltip="Add an item." [mdTooltipPosition]="'left'" id="button-add-task" md-fab (click)="onClickAdd.emit()">
                    <md-icon class="icon-white" >add</md-icon>
                </button>
            </td>
        </tr>
    </table>
</div>