

 

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)"> 

    
    
    <mat-form-field>
        <input required matInput placeholder="Client" [matAutocomplete]="auto" [formControl]="form.controls['client']">
        <mat-autocomplete [displayWith]="getName" #auto="matAutocomplete">
            <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <input required matInput placeholder="Name"  [formControl]="form.controls['name']">
    </mat-form-field>

    <mat-form-field>
        <input required type="number" matInput placeholder="Days" [formControl]="form.controls['days']">
    </mat-form-field>

    <mat-form-field>
        <input required matInput [matDatepicker]="picker" placeholder="Starting date" [formControl]="form.controls['started_at']">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field >
        <input matInput placeholder="Code"  [formControl]="form.controls['code']">
    </mat-form-field>

    <button type="button" id="button-previous" mat-icon-button (click)="previous()" >
        <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <button id="button-save" mat-icon-button [disabled]="!form.valid || locked" >
        <mat-icon>save</mat-icon>
    </button>
</form>