<form [formGroup]="form" (ngSubmit)="submitForm(form.value)" fxLayout="row" fxLayoutGap="2%"> 

    <div fxFlex="69" class="div-edit-zone">
        <div fxLayout="column" fxLayoutAlign="center center" xLayoutGap="10">

            <md-form-field>
                <input required mdInput placeholder="Title"/>
            </md-form-field>

             <md-form-field>
                <textarea mdInput placeholder="Description"></textarea>
            </md-form-field>

        </div>
    </div>
    <div fxFlex="29" class="div-commands-zone">
        <form >
            <md-form-field >
                <input type="text" placeholder="Select members" mdInput [mdAutocomplete]="membersSearch">
                <md-autocomplete #membersSearch="mdAutocomplete">
                    <md-option>Test</md-option>
                </md-autocomplete>
            </md-form-field>
        </form>

        <md-chip-list>
            <md-chip>Kévin LAMBERT 
                <md-icon class="icon-delete-member">close</md-icon>
            </md-chip>
        </md-chip-list>
    </div>
</form>