<form class="pure-g" [formGroup]="form" (ngSubmit)="submitForm(form.value)">


  <div class="pure-u-1">
  
    <md-input-container>
      <input mdInput placeholder="Client" required [mdAutocomplete]="autoClient" [formControl]="form.controls['client']">
    </md-input-container>

    <md-autocomplete #autoClient="mdAutocomplete" [displayWith]="getName">
      <md-option *ngFor="let client of clients" [value]="client">
        {{ client.name }}
      </md-option>
    </md-autocomplete>

  </div>


  <div class="pure-u-1">
  
    <md-input-container>
      <input mdInput placeholder="Project" required [mdAutocomplete]="autoProject" [formControl]="form.controls['project']">
    </md-input-container>

    <md-autocomplete  #autoProject="mdAutocomplete" [displayWith]="getName">
      <md-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </md-option>
    </md-autocomplete>

  </div>


  <div class="pure-u-1">
    <md-input-container>
      <input dividerColor="red" mdInput [mdAutocomplete]="autoHour" required class="form-control" type="text" placeholder="HH:MM" [formControl]="form.controls['started_at']">
    </md-input-container>

    <md-autocomplete  #autoHour="mdAutocomplete">
      <md-option *ngFor="let hour of filteredHours | async" [value]="hour">
        {{ hour }}
      </md-option>
    </md-autocomplete>

  </div>

  <div class="pure-u-1">
    <md-input-container id="input-container-minutes">
      <input mdInput required [mdAutocomplete]="autoMinutes" class="form-control" type="number" placeholder="Minutes" [formControl]="form.controls['minutes']">
    </md-input-container>

    <md-autocomplete  #autoMinutes="mdAutocomplete">
      <md-option *ngFor="let shortcut of filteredShortCuts | async" [value]="shortcut.minutes">
        {{ shortcut.label }}
      </md-option>
    </md-autocomplete>


    <button *ngIf="!timer" id="button-timer" md-icon-button (click)="topTime()" >
        <md-icon >timer</md-icon>
    </button>
    <button *ngIf="timer" id="button-timer" md-icon-button (click)="topTime()" >
        <md-icon >av_timer</md-icon>
    </button>
  </div>

  <div class="pure-u-1">
    <md-input-container>
      <input mdInput  type="text" class="form-control" placeholder="Issue" [formControl]="form.controls['issue']">
    </md-input-container>
  </div>

  <div class="pure-u-1 button-container">
    <button md-icon-button (click)="cancel(hour)" [hidden]="locked">
        <md-icon id="icon-cancel">cancel</md-icon>
    </button>
    <button class="button-right" md-icon-button required [hidden]="!form.valid || locked">
        <md-icon>save</md-icon>
    </button>

  </div>
  <p></p>
</form>
