.button-container
{
  margin-top:5px;
}


.button-right
{
  text-align:center;
  float:right;
}



.ng-invalid:not(form)  {
  color:red;
}

.form-group .pure-u-1
{
  display:inline-block;
}
label
{
  display:block;
}


mat-select
{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-form-field
{
  width:100%;
}

#icon-cancel
{
  color: #F44336;
}
