

<form class="pure-g" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <div class="pure-u-1 pure-u-md-1-3" >
        <md-input-container>

            <input
            required mdInput class="form-control"
            type="password"
            placeholder="New password" 
            [formControl]="formGroup.controls['passwords'].controls['new-password']" >

        </md-input-container>
    </div>
     <div class="pure-u-1 pure-u-md-1-3" >
        <md-input-container>

            <input mdInput
            required class="form-control"
            type="password"
            placeholder="Confirm new password" 
            [formControl]="formGroup.controls['passwords'].controls['confirm-new-password']" >

        </md-input-container>
    </div>
    <div class="pure-u-1 pure-u-md-1-3" >
        <button type="button" md-raised-button [disabled]="!formGroup.valid" (click)="submitForm(formGroup.value);">Reset</button>
    </div>
</form>

