<mat-list>
        
        <h3 *ngIf="!new" matSubheader>Files
                <button mat-icon-button (click)="displayNewForm()">
                    <mat-icon>add</mat-icon>
                </button>
        </h3>
        
        <hc-project-file-form [projectId]="projectId" *ngIf="new" (onCancel)="fileCanceled()" (onFileCreated)="fileCreated()"></hc-project-file-form>
    
        <div id="div-files-container" *ngIf="!new">
            <mat-list-item *ngFor="let file of files">
    
                <h4 matLine>{{file.name}}</h4>
                
                <button mat-icon-button (click)="openLink(file.url)">
                    <mat-icon>link</mat-icon>
                </button>
                
                <button (click)="deleteFile(file.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
    
            </mat-list-item>
        </div>
    </mat-list>