

<common-simple-filters [filters]="['search']" (filterUpdated)="onFiltersUpdated($event.filterValues)"></common-simple-filters>
<common-collection (onItemOpened)="openProject($event)" [itemComponent]="itemComponent" [items]="projects"></common-collection>

<common-collection-buttons 
[hideRemoveButton]="true" 
(onClickAdd)="newProject()" 
(onClickRemove)="removeSelectedProjects()" ></common-collection-buttons>

<div id="div-more-container" >
    <button [hidden]="!hasNext || isLoading" mat-icon-button (click)="loadMore()">
        <mat-icon >more_horiz</mat-icon>
    </button>
    <mat-spinner [hidden]="!isLoading" ></mat-spinner> 
</div>