<div id="div-float-bar" >
    <table>
    
        <tr >
            <td class="td-float-button" *ngIf="!hideRemoveButton">
                <button matTooltip="Remove selection." [matTooltipPosition]="'left'" id="button-delete-task" mat-mini-fab (click)="onClickRemove.emit()" >
                    <mat-icon class="icon-white">delete</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="td-float-button">
                <button matTooltip="Add an item." [matTooltipPosition]="'left'" id="button-add-task" mat-fab (click)="onClickAdd.emit()">
                    <mat-icon class="icon-white" >add</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>