
<div id="div-container"  >
    <div  fxLayout="row wrap" fxLayoutAlign="left top" >
        <div  [ngClass]="{'clickable': true, 'div-item-selected': item.isSelected && selectable }" 
            (onEdit)="onItemOpened.emit(item.value)" 
            (click)="selectItem(i)" 
            class="div-item-card" 
            
            fxFkex.lt-sm="99"
            fxFlex.sm="48"
            fxFlex.md="23"
            fxFlex.lg="13"
            fxFlex.xl="13"
            *ngFor="let item of _items; let i = index">
                <div #componentRef ></div>
        </div>
    </div>
</div>
