
<div [hidden]="loading" id="login-card">
  <mat-card>
    <form fxLayout="column">

      <div >
        <mat-form-field>
          <input placeholder="Login" matInput class="login-card__login" required [(ngModel)]="login" type="text" name="login" />
        </mat-form-field>
      </div>

      <div >
        <mat-form-field>
         <input placeholder="Password" matInput class="login-card__password" required [(ngModel)]="password" type="password" name="password" />
        </mat-form-field>
      </div>

      <div >
        <button class="login-card__btn-signin" mat-raised-button type="submit" (click)="connect()">Sign in</button>
      </div>

    </form>
  </mat-card>
</div>

<div [hidden]="!loading" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
