
#id-button-advance-calendar
{
    float:right;
}

md-select
{
    width:100%;
}

#project-div
{
    margin-top:20px;
}

db-autocomplete
{
    padding:10px;
    width:90%;
    display:block;
}

#calendars-container
{
    margin-top: 20px;
}

#display-mode-slide
{
    float:right;
}

hc-project-load-calendar
{
    display: block;
    margin-bottom:25px;
}