.main-menu-login {
  color: white;
  border:none;
  background:none;
  display:block;
  float:right;
}


.main-menu-container {
  width:100%;
  display:block;
  height:55px;
  background-color:#3F51B5;
  
}

.main-menu-slider-button {
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  border:none;
  background:none;
}

.main-menu-slider {
  display:block;
  width:300px;
  height:100%;
  background-color:#5C6BC0;
  z-index: 999;
  position:fixed;
  left:-300px;
  animation: ease;
  transition:0.2s
}

.main-menu-slider-open {
  left:0px;
}

.main-menu-container, .main-menu-slider
{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.main-menu-slider > ul > li
{
  list-style:none;
  font-weight:bold;
}
.main-menu-slider > ul > li > a
{
  text-decoration: none;
  color:white;
}

#menu-icon, #settings-icon, #list-icon {
  color:white;
}

#logout-icon {
  color:#F44336;
}

#disconnected-container {
  position: absolute;
  right: 11px;
  top: 15px;
  font-weight: bold;
}

#connected-container {
  position: absolute;
  right: 10px;
  top: 6px;
  font-weight: bold;
}

.icon-menu {
  position: relative;
  top: 6px;
  color: white;
  margin-right: 10px;
}

.menu-line {
  padding-bottom: 7px;
  margin: 0px;
}
.menu-line:hover {
  background-color: red;
}