
#div-container {
    overflow-x: scroll;
    overflow-y: auto;
}

#div-user-overlay {
    margin-top: 100px;
    background-color: white;
    min-width: 100px;
    position: absolute;
}

.td-user-name {
    min-width:100px;
    padding: 5px;
}

.tr-hours-line, .tr-user-name, #tr-hours-header {
    border: 1px solid #EEEEEE;
    height: 40px;
}

#tr-days-header {
    background-color: #3F51B5;
    color: white;
    height:60px;
}

.td-days-header {
    padding: 5px;
    min-width: 40px;
    text-align: center;
}

#tr-monthes-header {
    background-color: #3F51B5;
    color: white;
    height:40px;
}

.td-monthes-header {
    padding: 5px;
    text-align: left;
}

.td-current-day {
    color: #F44336;
    font-weight: bold;
}