p {
    text-align: left;
    font-size: 12px;
    text-align: center;
}

#button-more {
    position: absolute;
    right: 20px;
    top: 22px;
}

#icon-more {
    font-size: 16px;
    color: #757575;
}

#div-button-container {
    margin-right: 0px;
    margin-left: auto;
    width: 85px;
    height: 20px;
}

#icon-cancel {
    color: #F44336;
}

#div-title-container {
    padding: 0.25px;
}
