

<div *ngIf="loaded== true" >
  <form class="pure-g" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
     
    <div class="pure-u-1" *ngFor="let field of description.fields; ">
      <div *ngIf="['string', 'number', 'datetime', 'datetime'].indexOf(field.type) !== -1 
      && field.nested_description == null && field.editable !== false && field.extra != 'auto_increment'">
        
        <mat-form-field *ngIf="field.type == 'string'">
          <input 
            matInput class="form-control"
            [required]="!field.nullable"
            type="text"
            [placeholder]="formatPlaceHolder(field.name)" 
            [formControl]="formGroup.controls[field.name]" >
        </mat-form-field>
        <mat-form-field *ngIf="field.type == 'float' || field.type =='integer'">
          <input 
            class="form-control"
            matInput
            type="number"
            [required]="!field.nullable"
            [placeholder]="formatPlaceHolder(field.name)" 
            [formControl]="formGroup.controls[field.name]" >
        </mat-form-field>
          
        <mat-form-field *ngIf="field.type == 'datetime' || field.type == 'date'" >
          <input matInput 
            class="form-control"
            [required]="!field.nullable"
            type="text"
            [placeholder]="formatPlaceHolder(field.name) + ' (MM/DD/YYYY)'" 
            [formControl]="formGroup.controls[field.name]" >
          </mat-form-field>
        
      </div>

      <div *ngIf="field.nested_description != null && field.editable !== false">
        <db-autocomplete [required]="!field.nullable" [placeholder]="formatPlaceHolder(field.name)" [db]="field.nested_description.table + 's'"  labelField="name" [formControl]="formGroup.controls[field.name]" ></db-autocomplete>
      </div>



    </div>

    <div *ngIf="isEditable" class="form-group pure-u-1-2 button-container">
      <button  mat-icon-button class="pure-button pure-button-transparent" type="button" (click)="cancelForm()" >
        <mat-icon class="cancel-icon">cancel</mat-icon>
      </button>
    </div>
    <div *ngIf="isEditable" class="form-group pure-u-1-2 button-container">
      <button mat-icon-button (click)="submitForm(formGroup.value);" type="button" class="pure-button pure-button-transparent button-right" [hidden]="!formGroup.valid">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    
  </form>
</div>
<!--<pre style="letter-spacing: 0.01em;">{{ formGroup.value | json }}</pre>
<pre style="letter-spacing: 0.01em;">{{ formGroup.valid | json }}</pre>-->