


<div fxLayoutGap="0%"  fxLayout.gt-xs="row"  fxLayoutWrap fxLayoutAlign="start start">
  
  <div fxFlex="33%">
    <button md-icon-button id="button-previous" (click)="previous()">
      <md-icon id="icon-previous">chevron_left</md-icon>
    </button>
  </div>

  <div fxFlex="33%">
     <p id="calendar-day">{{getFormatedWeek()}}</p>
  </div>

  
  
  <div fxFlex="33%" >
    
    <button md-icon-button id="button-next" (click)="next()">
      <md-icon id="icon-next">chevron_right</md-icon>
    </button>


    <button id="button-more" md-icon-button [mdMenuTriggerFor]="menu" >
        <md-icon id="icon-export">more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button (click)="exportCra()" md-menu-item>
          <md-icon>file_download</md-icon>
          <span>Export hours for this month</span>
        </button>

       
      </md-menu>

      <md-slide-toggle 
      mdTooltip="Display / hide week-ends."
      [(ngModel)]="hideWeekend" 
      (ngModelChange)="onHideWeekChange($event)" 
      labelPosition="before" 
      id="slide-weeks">Week-end</md-slide-toggle> 
    </div>
</div>

<div fxLayoutGap="1%"  fxLayout.gt-xs="row"  fxLayoutWrap fxLayoutAlign="start start" >
  <div  fxFlex.lt-sm="99%" [fxFlex.gt-xs]="sizePerDay"   *ngFor="let dayHours of dayHoursList | async"  >
    <hours-calendar-day 
    #calendardayComponent 
    [hidden]="!hideWeekend && isWeekend(dayHours.day)"
    [userInformations]="userInformations" 
    [day]="dayHours.day" 
    [hours]="dayHours.hours"></hours-calendar-day>
  </div>
</div>

<div id="div-float-bar">
    <button mdTooltip="Remove selected hour(s)." [mdTooltipPosition]="'left'" id="button-delete-task" md-mini-fab (click)="deleteSelectedTasks()" >
        <md-icon class="icon-white">delete</md-icon>
    </button>
</div>


